body {
    padding-top: 1 0px;
}

/*encabezado princ img*/
.container-inic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    height: auto;
    max-height: 60px;
}

.sect-brand img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

/*Navbar*/
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.custom-navbar {
    background-color: #549692 !important;
    padding: 1rem 2rem;
    margin-top: 12px;
    height: 50px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid a {
    color: aliceblue;
}

.dropdown-menu a {
    color: black !important;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.navbar-nav .nav-item {
    text-align: center;
}

/* ---- Animación de enlaces ---- */
.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
    opacity: 0;
    display: block;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    opacity: 1;
}

.navbar-nav .nav-link:hover {
    color: white !important;
}

.dropdown.show>.nav-link {
    color: white !important;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 5px;
    }

    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .navbar-nav .nav-item {
        margin: 0px 0;
    }

    .navbar-toggler {
        border: none;
        background: transparent;
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 30px;
    }

    .carousel {
        height: 130px;
    }
}

/*CARRUSEL*/
.carousel-inner {
    position: relative;
    z-index: 1;
    height: 400px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/*SECCION CAMPAÑA*/
.my-section {
    clear: both;
    margin-top: 20px;
}

.section-title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 10px;
    font-family: "Noto Serif Georgian", serif;
    color: #436f6c;
}

.my-section p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: justify;
    padding-top: -20px;
}

.btn-card {
    background-color: #549692;
    border: #549692;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    flex: 1;
    max-width: 32%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.btn-card:hover {
    background-color: #3f7f7b;
}

.card:hover {
    transform: translateY(-5px);
}

/*TAMAÑO DE IMAGENES EN CARD*/
.card-img-top {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .my-section {
        padding: 10px 0;
    }

    .section-title {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 20px;
        font-family: "Noto Serif Georgian", serif;
        color: #436f6c;
        padding: 0 10px;
    }

    .my-section p {
        font-family: "Roboto", sans-serif;
        text-align: justify;
        padding-top: -20px;
        font-size: 0.95rem;
        padding: 0 10px;
        margin-top: -15px;
    }

    .btn-card {
        width: 80%;
        margin: 0 auto;
        padding: 2px;
        font-size: 1rem;
        display: block;
    }

    .cards-container {
        flex-direction: column;
        gap: 15px;
        padding: 0 10px;
    }

    .card {
        width: 100%;
        max-width: 100%;
    }

    .card-img-top {
        height: 120px;
        object-fit: cover;
    }

    .card-body {
        font-size: 0.8rem;
        padding: 5px;
    }
}

/*SECCION CITAS*/
.cita-inicio {
    background: linear-gradient(135deg, #549692, #7fbdb7);
    padding: 50px 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.cita-box {
    max-width: 600px;
    max-height: 180px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    color: #333;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.cita-box h2 {
    font-size: 2rem;
    font-family: "Noto Serif Georgian", serif;
    color: #436f6c;
}

.cita-box p {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    color: black;
}

.btn-cita {
    display: inline-block;
    margin-top: 0px;
    padding: 12px 30px;
    background-color: #549692;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-cita:hover {
    background-color: #3f7f7b;
}

@media (max-width: 768px) {

    /* Opción 1: Tarjeta destacada */
    .cita-box {
        padding: 20px;
        border-radius: 10px;
    }

    .btn-cita {
        padding: 10px 20px;
        font-size: 16px;
    }
}


/*SECCION UBI*/
.locations-section {
    text-align: left;
    padding: 40px 0;
}

.section-title-ubi {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 10px;
    font-family: "Noto Serif Georgian", serif;
    color: #436f6c;
}

.section-description {
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.inspect-button {
    background: transparent;
    border: 2px solid #0056b3;
    color: #0056b3;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inspect-button:hover {
    background: #0056b3;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.location-card {
    flex: 1 1 calc(50% - 20px);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.location-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.location-info {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
    color: white;
    padding: 5px;
    font-family: "Noto Serif Georgian", serif;
}

@media screen and (max-width: 768px) {
    .locations-section {
        text-align: left;
        padding: 10px 0;
        margin-top: -10px;
    }

    .location-card {
        flex: 1 1 100%;
    }

    .location-card img {
        height: 200px;
    }

    .section-title-ubi {
        font-size: 1.5rem;
    }

    .section-description {
        font-size: 0.95rem;
        text-align: justify;
    }

    .inspect-button {
        width: 100%;
        padding: 12px;
    }
}

/* SECCIÓN CONTACTO */
.contact-section {
    padding: 40px 0;
    background-color: #549692;
}

.contact-section .section-title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
    font-family: "Noto Serif Georgian", serif;
    color: white;
}

.form-control {
    border-radius: 5px;
    font-size: 16px;
}

.btn-xl {
    background-color: #33716d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn-xl:hover {
    background-color: #aab7b7;
}

@media (max-width: 768px) {
    .contact-section .section-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .btn-xl {
        width: 100%;
        font-size: 16px;
        padding: 12px;
    }

    .form-floating {
        font-size: 15px;
    }
}

/* SECCIÓN WHATSAPP */
.whatsapp-section {
    background-color: white;
    padding: 40px 0;
    text-align: center;
}

.whatsapp-section .section-title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 30px;
    font-family: "Noto Serif Georgian", serif;
    color: #436f6c;
}

.contact-item {
    display: flex;
    align-items: center;
    background: #01c501;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 32%;
}

.contact-item:hover {
    transform: translateY(-5px);
}

.contact-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.contact-text {
    text-align: left;
}

.contact-text p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.contact-text a {
    display: block;
    color: black;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.contact-text a:hover {
    color: #075e54;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .whatsapp-section .section-title {
        font-size: 1.4rem;
    }

    .contact-item {
        width: 90% !important;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        padding: 12px;
        margin-bottom: 5px;
    }

    .contact-item img {
        margin-right: 5px;
    }

    .contact-text {
        text-align: left;
    }

    .contact-text p {
        font-size: 0.9rem;
    }

    .contact-text a {
        font-size: 15px;
    }

    .contact-section {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .contact-container {
        gap: 10px;
    }
}

/*footer*/
.footer {
    background-color: #549692;
    color: white;
    padding: 30px 0;
}

.footer .row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.title-footer {
    font-size: 15px;
    margin-bottom: 15px !important;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.footer p {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    font-family: "Montserrat", sans-serif;
}

.btn-social {
    background-color: white;
    color: #549692;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: 0.3s;
    text-decoration: none;
}

.btn-social:hover {
    background-color: #aab7b7;
    color: white;
}

.btn-social+.btn-social {
    margin-left: 10px;
}

.footer-container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .footer .row {
        justify-content: space-between;
        gap: 10px;
    }

    .footer .col-md-4 {
        flex: 0 0 32%;
        max-width: 32%;
    }
}